body {
    background-color: black;
    padding: 0px;
    margin: 0px;
    color: white;
}
p{
    font-size: 120%;
}

.containt {
    height: 100vh;
    margin: 0px auto;
    padding: 0.5em;
    display: flex;
    gap: none;
}

.sidebar {
    /* border: 1px solid white; */
    border-radius: 5%;
    background-color: rgb(46, 48, 49);
    max-height: 100vh;
    width: 25%;
    position: fixed;
    top: 1rem;


}

.about_me .skill_section {
    margin: 1em 0px;
    display: flex;
    /* justify-content: space-between; */
}

.about_me .skill_section span {
    color: grey;
    border: white 1px dotted;
    border-radius: 25px;
    padding: 1em;
    margin: 1em;
}

.quanti {
    display: flex;
    justify-content: space-around;
}

.quanti h1 {
    color: yellowgreen;
    margin-bottom: 0px;
}

.quanti .q1 {
    font-size: 18px;
    color: grey;
}

.skills_adavantages {
    display: flex;
    justify-content: space-around;
}

.skills_adavantages .skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skill img {
    width: 30%;
    margin: 10px auto;
}
.skill h3{
    text-align: center;
}
.skill_progress {
    position: relative;
    width: 7em;
    height: 7em;
    padding: 1em 1em;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background:conical_grediebt; */
}

.skill_progress::before {
    content: "";
    color: white;
    position: absolute;
    height: 90%;
    width: 90%;
    border-radius: 50%;
    background-color: rgb(22, 22, 22);
    align-items: center;
}

.skill_progress::after {
    content: "90%";
    color: white;
    position: absolute;
    height: 90%;
    width: 90%;
    border-radius: 50%;
    align-items: center;
    top: 40%;
}

.sidebar .container {
    /* border: 1px solid white; */
    width: 70%;
    height: 80%;
    margin: 30px auto;
    /* margin-top: 30px; */
}

.container .img_container {
    width: 10em;
    height: 10em;
    border-radius: 150px;
    margin: 0px auto;
    margin-top: 1em;
    background: rgb(122, 119, 119);
    padding: 2px;
}

.sidebar .name {
    color: white;
    font-weight: 800;
    /* border: 1px solid white; */
    margin: 0px auto;
    margin-top: 1em;
    text-align: center;
}

.img_container .img {
    width: 9.99em;
    height: 9.99em;
    border-radius: 50%;
    margin: 0px auto;
    background: red;
    position: relative;
}

.img h4 {
    position: absolute;
    top: 50%;
    border: 1px solid white;
    margin: 0px auto;
    left: 40%
}

.position {
    text-align: center;
    color: white;
    margin-top: 0.3em;
    color: greenyellow;
}

.resume {
    height: 100vh;
    width: 60% !important;
    padding: 1em;
    position: absolute;
    left: 25%;
    /* background-color: red; */
}

.education_details{
    width: 90%;
    margin: 2rem auto;
    display: flex;
}
.education_details .e2{
    width: 99.9%;
    padding: 1%;   
}
.education_details .e1{
    width: 40%;
    padding: 1%;   
}
.education_details .e2{
 text-align: right;
}
.education_details *{
    margin: 0px;
}
.education_details .divider{
    width: 0.1%;
    border-left:1px solid black;
    position: relative;

}
.contact{
    display: flex;
    justify-content: space-between;
}

.contact .details div{
    margin-top: 2rem;
}

.contact .details div *{
    margin: 0px;
}
.contact .details div p{
   color: rgb(128, 127, 127);
}

.contact .form{
    width: 70%;
}
.form form{
    padding: 3%;
}
.form-group{
    margin-bottom: 1rem;
}
.form input,textarea{
    padding: 2%;
    margin-top: 1%;
    width: 90%;
    border:1px solid rgb(105, 102, 102);
    background-color: rgb(83, 80, 80);
    border-radius: 10px;
    color: white;
}
.dc{
    width: 1rem;
    height: 1rem;
    background: yellowgreen;
    border-radius: 50%;
    position: absolute;
    left: -0.5rem;
    top: 1rem;
}
.resume .title {
    padding: 10px;
    border: 1px solid rgb(114, 113, 113);
    border-radius: 25px;
    margin-bottom: 100em;
}

.intro {
    width: 100%;
    background-color: rgb(46, 48, 49);
    border-radius: 25px;
    padding: 2em;
    margin: 1em;
}

.intro_detail {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.id2 {
    padding: 1%;
}


.vertical_nav {
    height: 100vh;
    width: 5%;
    background-color: black;
    margin: 0px 1.5em 5em;
    margin-left: 5em;
    position: fixed;
    top: 10;
    right: 0;
}

.vertical_nav nav {
    width: 80%;
    height: 90%;
    border: 2px solid rgb(122, 119, 119);
    margin: 0px auto;
    border-radius: 150px 150px 150px 150px;
}

nav ul {
    margin: 0px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    gap: 3em;
}

nav ul li {
    display: flex;
    justify-content: center;
    /* width: 20px;
    height: 20px; */
    padding: 1em;
    border-radius: 50%;

}

nav ul li:hover {
    color: red;
    background: rgb(123, 172, 51);
}

nav ul li:hover a {
    color: rgb(248, 247, 247);
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.text_1 {
    animation: text_1;
}

.text_2 {
    animation: text_2;
}

.text_1,
.text_2 {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 8s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
}

.text_1::after,
.text_2::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: cursor infinite;
    animation-duration: 1s;
    animation-timing-function: steps(10, end);
    /* opacity: 1; */
}

@keyframes cursor {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes text_2 {

    0%,
    50%,
    100% {
        width: 0;
    }

    60%,
    90% {
        width: 7em;
    }
}

@keyframes text_1 {

    0%,
    50%,
    100% {
        width: 0;
    }

    10%,
    40% {
        width: 6.5em;
    }
}

.personal_details {
    color: white;
}

.personal_details h5 {
    margin: 0.5em 0px;

}

.personal_details .pd_key {
    color: grey;
}

.personal_details .pd_value {
    float: right;
}

.skills {
    margin-top: 3em;
    height: 30%;
    width: 100%;
    background-color: rgb(22, 22, 22);
    border-radius: 10%;
    padding: 1em;
}

.skills h6 {
    margin: 0px;
}

.skill_score {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}

.s_name {
    color: grey;
    text-align: center;
}

.s_score {
    position: relative;
    width: 25px;
    height: 25px;
    padding: 1em 1em;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.s_score::before {
    content: "";
    color: white;
    position: absolute;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    background-color: rgb(22, 22, 22);
}
.s_score::after {
    content: "90%";
    color: white;
    position: absolute;
    height: 90%;
    width: 90%;
    border-radius: 50%;
    align-items: center;
    top: 40%;
}

.download_my_cv {
    background: yellowgreen;
    border: none;
    padding: 0.5em 1em;
    margin: 1em 2em;
    color: black;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
}


.hire_me {
    margin: 0px;
    font-size: 1.5em;
    border-radius: 25px;
}